<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Hello world, {{name}}
    </h1>
    <p>
        I am coming for soon <b>good job</b>
    </p>
    <em>coming home</em>
    <strong>good work</strong>
    <p>
        good day is visible in the moring <br>
        today will be my beatiful day in school
    </p>
</body>
</html>